@font-face {
        font-family: 'Noah';
        src: url('./assets/Noah\ Text\ Heavy.ttf') format('truetype');
        font-style: normal;
        font-weight: normal;
      }
      
       * {
        font-family: Noah;
        font-weight: normal;
        font-size: 20px;
      }
      
      html {
        height: 100vh;
      }
      
      body {
        //background-color: #924893;
      }
      
      #root {
              background-color: #1090a7;
              width: 2300px;
              height: 800px;
              position: relative;
              display: flex;
              align-items: center;
              justify-content: center;
      }
      
      .both {
              display: flex;
              flex-direction: row;
              padding: 50px;
              justify-content: space-between;
              max-width: 924px;
              max-height: 412px;
              height: 412px;
              align-items: flex-end;
              width: -webkit-fill-available;
              gap: 30px;
      }
      .logo_div {
        .logo {
                width: 240px;
        }
      }
      
      .wrapper {
        width: 650px;
        height: max-content;
      
        .first_row {
              display: flex;
              border-bottom: 5px solid #ff8f57;
              justify-content: space-between;
        }
      
        .last_row {
              display: flex;
              justify-content: space-between;
        }
      }
      
      .number {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 112px;
      }
      
      .inputs {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 300px;
      
      }
      
      .inputdiv {
              max-width: 250px;
              padding-bottom: 30px;
              display: flex;
              flex-direction: column;
              align-items: center;
      }
      
      .lastSelected {
              -webkit-animation: bounce-in-top 1.1s forwards, blink-1 2s 1.6s infinite both;
              animation: bounce-in-top 1.1s forwards, blink-1 2s 1.6s infinite both;
              background-color: #fef359;
      
        p {
              color:#ff8f57;
        }
      }
      
      .selected {
              background-color: #fef359;
      
        p {
              color:#ff8f57;
        }
      }
      
      p {
        font-size: large;
        color:white;
        font-weight: bold;
        font-size: 25px;
      }
      
      input {
              background-color: transparent;
              color: white;
              border: none;
              border-bottom: 8px solid #ff8f57;
              font-size: 140px;
              text-align: center;
              caret-color: transparent;
      }
      
      input:focus {
              color:#ff8f57;
              outline: none;
          }
      
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      
      @-webkit-keyframes bounce-in-top {
        0% {
          -webkit-transform: translateY(-500px);
                  transform: translateY(-500px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
          opacity: 0;
        }
        38% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
          opacity: 1;
        }
        55% {
          -webkit-transform: translateY(-65px);
                  transform: translateY(-65px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        72% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        81% {
          -webkit-transform: translateY(-28px);
                  transform: translateY(-28px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        90% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        95% {
          -webkit-transform: translateY(-8px);
                  transform: translateY(-8px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        100% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
      }
      @keyframes bounce-in-top {
        0% {
          -webkit-transform: translateY(-500px);
                  transform: translateY(-500px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
          opacity: 0;
        }
        38% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
          opacity: 1;
        }
        55% {
          -webkit-transform: translateY(-65px);
                  transform: translateY(-65px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        72% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        81% {
          -webkit-transform: translateY(-28px);
                  transform: translateY(-28px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        90% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        95% {
          -webkit-transform: translateY(-8px);
                  transform: translateY(-8px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        100% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
      }
      
       @-webkit-keyframes blink-1 {
              0%,
              50%,
              100% {
                opacity: 1;
              }
              25%,
              75% {
                opacity: 0;
              }
            }
            @keyframes blink-1 {
              0%,
              50%,
              100% {
                opacity: 1;
              }
              25%,
              75% {
                opacity: 0;
              }
            }
            